page-cadastro {

  .selectCustom {
    max-width: 98% !important;
    width: 98% !important;
    padding: 0px 8px 0px 8px !important;
  }

  ion-input {
      padding-left: 8px !important;
  }

  ion-item, ion-card {
    background-color: color($colors, light, base) !important;
  }
}