<!--
  Generated template for the DetalharSeminario page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detalhar-seminario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div>
  NONONONNONONO NONONONNONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONO
  NONONONNONONONONONONNONONONONONNONONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONO

</div>

<div *ngIf="isListening==false" padding>
  <button ion-button (click)="listenData($event)">Receber confirmação</button>
</div>

<div *ngIf="isListening==true" padding>
  <button ion-button (click)="stopListenData($event)">Parar de receber confirmação</button>
</div>


<div>
  <div>Alunos que assistiram os seminaŕios:</div>
  <div>
  NONONONNONONO NONONONNONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONO
  NONONONNONONONONONONNONONONONONNONONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONONONONONNONONO
  </div>
</div>


</ion-content>
