<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Seminário {{ seminarioId }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      {{ seminarioName }}
      </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let aluno of alunos">
            <ion-label>
                {{ aluno.nusp }} - {{ aluno.name }}
            </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content *ngIf="type === 'professor'">
        <button ion-button (click)="projectQRCode()">Gerar Seminário QRCode</button>
        <button ion-button *ngIf="!isListening" (click)="listenData($event)">Escutar Dispositivos Bluetooth</button>
        <button ion-button *ngIf="isListening" (click)="stopListenData($event)">Parar de receber confirmação</button>
    </ion-card-content>

    <ion-card-content *ngIf="type === 'aluno'">
        <button ion-button (click)="confirmarQRCode()">Confirmar Presença via QRCode</button>
        <button ion-button (click)="confirmarbluetooth()">Confirmar Presença via Bluetooth</button>
    </ion-card-content>
  </ion-card>

</ion-content>
