<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Seminarios</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let seminario of seminarios" (click)="goToDetails(seminario)">
    <ion-item-divider>{{ seminario.id }}</ion-item-divider> 
    <ion-card-content>
      <ion-label color="dark" class="labelText labelTextCustom">{{ seminario.name }} </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab right bottom *ngIf="type === 'professor'"> 
  <button ion-fab color="pink" (click)="addSeminario()"><ion-icon name="add"></ion-icon></button>
</ion-fab>