page-login {
  .customCard{
    background-color: color($colors, light, base);
  }

  .itemDivider {
    border-color: color($colors, dark, base);
    border-width: 2px;
  }

  .labelText {
    white-space: inherit;
  }

  .toolbar-title-md {
    font-size: 1.8rem !important;
  }
}
